h1 {
    text-align: center;
    text-shadow: 10px 5px;
    font-size: 100px;
    background-color: rgb(143, 190, 13);
    position: relative;
    padding: 50px;
    background-image: url(pongal\ back.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 80px;

}

body {
    background-color: rgb(189, 226, 24);
    background-image: url(coming\ soon.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10%;

}

